/* *{
    border: 1px solid red;
} */


html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    font-family: "Hind Guntur", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container{
    height: 100%;
    width: 100%;
}

header{
    background-color: #FF6200; 
    height: 20%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#headerEsquerda{
    width: 20%; 
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#headerMeio{
    width: 40%; 
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.opcoesHeader{
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    color:#fff;
    margin-top: 15px;
}


#headerDireita{
    width: 40%; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputAgencia{
    padding: 12px;
    border: 3px solid #fff;
    border-radius: 15px 0px 0px 15px;
    background-color: #FF6200;
    width: 120px;
    border-right:0px;
}

#inputAgencia::placeholder{
    color: white;
    font-size: 17px;
    text-align: center;
}

#inputConta{
    padding: 12px;
    border: 3px solid #fff;
    background-color: #FF6200;
    width: 110px;
}

#inputConta::placeholder{
    color: white;
    font-size: 17px;
    text-align: center;
}

#botaoAgConta{
    border: none;
    background-color: #fff;
    width: 70px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

#setaBotão{
    width: 10px;
}

main{
    background:linear-gradient(#FF6200, #fa8841);
    height: 80%;
    display: flex;
}

#mainEsquerda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    gap: 20px;
}

#titulo{
    color: #fff;
    font-size: 60px;
    font-weight: bold;  
}

#subtitulo{
    color: #fff;
    font-size: 28px;
}

#BotaoAbraSuaConta{
    padding: 25px;
    border-radius: 10px;
    border: none;
    color: #FF6200;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    margin: 45px 30px 30px 0px;
    width: 300px;
    border: 2px solid #fff;
    transition: 0.3s;
    position: relative;
    z-index: 9999;
}

#seta{
    margin-left: 50px;
    width: 9px;
}

#BotaoAbraSuaConta:hover{
    background-color: #ff7b28;
    color: #fff;
    font-weight:bold;
    border: 2px solid #fff;
    transition: 0.3s;
}

#paragrafoQrCode{
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 170px;
}

#mainDireita{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#divQrCode{
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    margin-bottom: 120px;
}

#QrCode{
    width: 200px;
    border-radius: 20px;
    position: absolute;
}

#eclipse{
    width: 680px;
    position: absolute;
}

#fundoGrade{
    position: absolute;
    width: 780px;
}

#group{
    position: absolute;
    width: 850px;
    margin-right: 180px;
}

